@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    --main-bg-color: #F4F9F9;
    --sec-bg-color: #2A2D43;
    --desktop-font-size: 18px;
    --tablet-font-size: 16px;
    --mobile-font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: Lexend Exa;
    font-size: var(--desktop-font-size);
    background-color: var(--main-bg-color); 
}

a {
    text-decoration: none;
    color: var(--sec-bg-color);
}

li {
    list-style: none;
}

nav {
    width: 100%;
    max-width: 100%;
    padding: 10px 0px;
    margin: 15px auto 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.nav-control {
    display: none;
}

.nav_links_container , .social_links_container {
    display: flex;
    justify-content: space-around;
}
.nav_links_container {
    justify-content: space-around;
}

.social_links_container {
    justify-content: right;
    flex: 1;
}

.nav_link {
    font-weight: 300;
    margin: 10px;
}
.nav_link a {
    padding: 18px;
    transition: ease-in 0.5s;
}
.nav_link a:hover {
    background-color: var(--sec-bg-color);
    color: var(--main-bg-color);
    border-radius: 10px;
}
.active a {
    background-color: var(--sec-bg-color);
    color: var(--main-bg-color);
    border: 1px solid var(--sec-bg-color);
    border-radius: 10px;
}
.active a:hover {
    background-color: var(--main-bg-color);
    color: var(--sec-bg-color);
    border: 1px solid var(--sec-bg-color);
}

.header_img_container {
    background-position: inherit;
    background-size: cover;
    background: linear-gradient(180deg, rgba(244,249,249,0) 0%, rgba(244,249,249,0.681185853247549) 70%, rgba(244,249,249,1) 100%),
    url(/pictures/csoportkep_1920.png);
    background-size: cover;
    margin:  20px auto;
    height: 38vw;
    width: 100%;
    opacity: 85%;
}

.logo_container {
    width:100%;
    text-align: center;
    position: relative;
}

.logo_container .logo {
    width: 18%;
    position: relative;
    top: -16vw;
    opacity: 95%;
}
hr {
    background-color: var(--sec-bg-color);
    opacity: 10%;
}

.fa-facebook-square, .fa-instagram {
    font-size: 1.4rem;
}

main {
    height: 30vh;
}
/* --------------FOOTER-------------- */

footer {
    background-color: var(--sec-bg-color);
    color: var(--main-bg-color);
}
footer h2 {
    font-weight: 500;
    margin-bottom: 20px
}
footer h3 {
    font-weight: 400;
    height: 60px;

}
.footer_container {
    background-color: var(--sec-bg-color);
    width: 90%;
    display: flex;
    margin: auto;
    padding: 20px 0px;
    align-items: top;
    justify-content: space-evenly;
    
}
footer hr {
    color: var(--main-bg-color);
    opacity: 30%;
}

.footer_item {
    flex: 1;
    margin: 10px;
}

.footer_item_title {
    display: flex;
    align-items: top;
}
.call_to_action  {
display: flex;
align-items: center;
padding: 8px;
border-radius: 5px;
background-color:var(--main-bg-color);
color: var(--main-bg-color);
opacity: 90%;
}
.call_to_action:hover {
opacity: 100%;
}
.page_map {
    flex: 2;
}
.page_map_container {
    color: var(--main-bg-color);
}
.page_map_item {
    width: 100%;
    margin: 15px 0px;;
}
.page_map_link {
    display: inline-block;
    color: var(--main-bg-color);
    width: 100%;    
    padding: 10px 10px 10px 10px;
    transition: 0.6s;
}

.page_map_link:hover {
    background-color: var(--main-bg-color);
    color: var(--sec-bg-color);
    border-radius: 5px;
}

.footer_logo {
    width: 80%;
    margin: auto;
}
.footer_social_item {
    margin: 15px;
    width: 100%;
    font-size: var(--desktop-font-size);
}
.footer_social_item .fa-facebook-square, .footer_social_item .fa-instagram {
    color: var(--main-bg-color);
    padding: 10px;
    border-radius: 5px;
    transition: 0.6s;
    
}
.footer_social_item .fa-facebook-square:hover, .footer_social_item .fa-instagram:hover {
    background-color: var(--main-bg-color);
    color: var(--sec-bg-color);
}

/* Tablet */
@media screen and (max-width: 1200px) {
    body {
        font-size: var(--tablet-font-size);
    }
    nav {
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }
    .nav_links_container , .social_links_container {
        display: flex;
        width: 100%;
        margin: 10px;
    }
    .nav_link {
        margin: 10px;
    }
    .nav_link a {
        padding: 15px;
    }
}

/* Mobile */

@media screen and (max-width: 695px) {
    body {
        font-size: var(--mobile-font-size);
    }
   
    .nav-control {
        display: flex;
        width: 100%;
        align-items: center;
        align-content: space-between;
        justify-content: space-between;
        margin: 20px;
    }
    .nav-control h1 {
        font-weight: 300;
        font-size: 1rem;
    }
    .fa-bars {
        font-size: 1.2rem;
        padding: 6px;
        border-radius: 5px;
        transition: ease 0.4s;
        cursor: pointer;
    }
    .fa-bars:hover {
        background-color: var(--sec-bg-color);
        color: var(--main-bg-color);
    }
   
    .nav_links_container , .social_links_container {
        display: none;
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .nav_link {
        width: 80%;
        margin: 10px auto;
        padding: 15px;
    }
    .responsive {
        display: block;
    }
}


